<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Form Product</title>
</head>
<body>
	<form th:action="@{/product/save}" method="post" th:object="${product}">
	<input type="hidden" th:field="*{id}"/>
		<table border="1">
			<tr>
				<td>Category</td>
				<td>
					<select name="category" id="category" th:field="*{variant.categoryId}">
					<option value="">Select Category</option>
                   	<option th:each="item:${ listCategory }" th:text="${ item.categoryName }" th:value="${item.id}"></option>
                	</select>
				</td>
			</tr>
			<tr>
				<td>Variant</td>
				<td>
					<select name="variant" id="variant" th:field="*{variantid}" onchange="myFunction()">
					<option value="">Select Variant</option>
                   	<option th:each="item:${ listVariant }" th:text="${ item.variantName }" th:value="${item.id}"></option>
                	</select>
				</td>
			</tr>
			<tr>
				<td>Product Code</td>
				<td><input tyoe="text" name="productcode" th:field="*{productCode}"></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input tyoe="text" name="productname" th:field="*{productName}"></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><input tyoe="text" name="productdescription" th:field="*{description}"></td>
			</tr>
			<tr>
				<td>Price</td>
				<td><input tyoe="text" name="price" th:field="*{price}"></td>
			</tr>
			<tr>
				<td>Stock</td>
				<td><input tyoe="text" name="stock" th:field="*{stock}"></td>
			</tr>
			<tr>
				<td>Active</td>
				<td><input type="checkbox" name="isactive" th:field="*{isActive}"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
</body>
</html>