<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Product Page</title>
</head>
<body>
	<h1>Product List</h1>
	
	<button onclick="window.location.href='/product/addform'">Create New</button>
	<br>
	<br>
	
	<table border = "1">
		<thead>
			<tr>
				<td>Category/Variant</td>
				<td>Product Code</td>
				<td>Name</td>
				<td>Description</td>
				<td>Price</td>
				<td>Stock</td>
				<td>Active</td>
				<td colspan="2">Action</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${ listProduct }">
				<td th:text="${ item.variant.category.categoryCode } + '/' + ${ item.variant.variantCode }"></td>
				<td th:text="${ item.productCode }"></td>
				<td th:text="${ item.productName }"></td>
				<td th:text="${ item.description }"></td>
				<td th:text="${ item.price }"></td>
				<td th:text="${ item.stock }"></td>
				<td><input type="checkbox" name="isactive" th:checked="${ item.isActive }" disabled></td>
				<td><a th:href="@{/product/edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href="@{/product/delete/{id}(id=${item.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>