<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Form Variant</title>
</head>
<body>
	<form th:action="@{/variant/save}" method="post" th:object="${variant}">
	<input type="hidden" th:field="*{id}">
		<table border="1">
			<tr>
				<td>Category</td>
				<td>
					<select name="category" id="category" th:field="*{categoryId}">
					<option value="">Select Category</option>
                   	<option th:each="item:${ listCategory }" th:text="${ item.categoryName }" th:value="${item.id}"></option>
                	</select>
				</td>
			</tr>
			<tr>
				<td>Variant Code</td>
				<td><input type="text" name="variantcode" th:field="*{variantCode}"></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input tyoe="text" name="variantname" th:field="*{variantName}"></td>
			</tr>
			<tr>
				<td>Active</td>
				<td><input type="checkbox" name="isactive" th:field="*{isActive}"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
</body>
</html>