<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Variant Page</title>
</head>
<body>
	<h1>Variant List</h1>
	
	<button onclick="window.location.href='/variant/addform'">Create New</button>
	<br>
	<br>
	
	<table border = "1">
		<thead>
			<tr>
				<td>Category</td>
				<td>Variant Code</td>
				<td>Variant Name</td>
				<td>Active</td>
				<td colspan="2">Action</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${ listVariant }">
				<td th:text="${ item.category.categoryName }"></td>
				<td th:text="${ item.variantCode }"></td>
				<td th:text="${ item.variantName }"></td>
				<td><input type="checkbox" name="isactive" th:checked="${ item.isActive }" disabled></td>
				<td><a th:href="@{/variant/edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href="@{/variant/delete/{id}(id=${item.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>